services:
  whatsapp-api:
    build:
      context: .
    env_file:
      - .env
    environment:
      DATA_DIR: /app/data
    ports:
      - "8192:8192"
    volumes:
      - ./data:/app/data
    restart: always
